/* Video Card Container */

.video-card-container {
	display: flex;
	flex-direction: column;
	gap: var(--space-sm);
	padding: var(--space-xs);
	width: 20rem;
	background-color: var(--white);
	border-radius: var(--border-rad-lg);
}

.video-card-container:hover {
	background-color: var(--lynx-gray);
}

/* Video Thumbnail Div */

.video-thumbnail-div {
	width: 100%;
	position: relative;
	cursor: pointer;
}

.video-thumbnail-img {
	width: 100%;
	border-radius: var(--border-rad-lg);
}

.video-duration-text {
	background-color: var(--gray);
	color: var(--white);
	padding: var(--space-xs);
	border-radius: var(--border-rad-sm);
	font-weight: 500;
	position: absolute;
	bottom: 10%;
	right: 5%;
}

/* Video Card Middle */

.video-card-middle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

/* Channel Img */

.video-card-channel-img {
	border-radius: var(--border-rad-full);
	height: 3rem;
	cursor: pointer;
}

/* Video Card Names */

.video-card-names {
	display: flex;
	flex-direction: column;
}

.video-name {
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
}

.video-channel-name {
	font-size: 1rem;
	font-weight: 300;
	cursor: pointer;
}

/* Video Card Icons */

.video-card-icons-div {
	display: flex;
	gap: 0.4rem;
}

.video-card-icons-div * {
	cursor: pointer;
}

.video-card-icons-div *:hover {
	color: var(--primary-color);
}
